.chat-channel-sidebar{
  display: flex;
  background-color: #3f0e40;
  width: 220px;
  min-width: 220px;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  color: rgba(197,183,198,1);
  font-weight: 400;
  overflow: hidden;
}

.chat-channel-sidebar-contents{
  display: flex;
  flex-direction: column;
  width: 220px;
  justify-content: space-between;
  overflow-y: auto;
}

.chat-workspace-header{
  height: 61px;
  margin-bottom: -1px;
}

.chat-workspace-header:hover{
  background-color: rgb(37,3,38);
  cursor: pointer;
}

.fa-chevron-down{
  font-size: 0.55em;
  align-self: top;
}

div.header-user{
  display: flex;
  align-items: center;
}

p.channel-side-username{
  margin-left: 5px;
}

header h1.chat-workspace-name{
  font-size: 18px;
  font-weight: 900;
  color: white;
}

span.online{
  color: #10af79;
  font-size: 0.5rem;
  margin: 4px 4.5px 0 0;
}

span.self{
  color: #10af79;
  font-size: 0.5rem;
}

span.offline{
  font-size: 0.5rem;
  margin: 4.5px 4.5px 0 0;
}

.channel-side-username{
  font-size: .875rem;
  color: #ab9ba9;
  margin-top: 2px;
}

h2.sidebar-list-title{
  font-size: 16px;
  height: 26px;
  padding: 0 15px 0 12px;
  margin-top: 30px;
}

div.sidebar-list ul.channel-names{
  width: 100%;
  display: flex;
  flex-direction: column;
}

h2.sidebar-list-title:hover{
  color: white;
  cursor: pointer;
}

.direct-messages-title{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

span.direct-messages-title:hover{
  color: white;
  cursor: pointer;
}

.fa-times-circle.dm{
  margin-bottom: 6px;
  margin-right: 13px;
}

div.sidebar-list ul.channel-names li{
  display: flex;
  opacity: 0.64;
  height: 26px;
  padding: 2px 0 0 12px;
}

div.sidebar-list ul.channel-names a:hover{
  background-color: rgb(37,3,38);
  cursor: pointer;
  height: 26px;
}

.sidebar-add-channel{
  font-size: 16px;
  height: 26px;
  padding: 2px 15px 0 12px;
  margin-top: 30px;
}

.sidebar-add-channel:hover{
  background-color: rgb(37,3,38);
  cursor: pointer;
  padding-top: 2px;
}

div.sidebar-list ul.channel-names li.selected-channel,
div.sidebar-list ul.channel-names div.whole-list-item.selected-channel{
  background-color: #0662a3;
  color: white;
  opacity: 1;
}

div.whole-list-item{
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

div.whole-list-item:hover{
  background-color: rgb(37,3,38);
  cursor: pointer;
}

div.whole-list-item:hover div.delete-channel-button{
  background-color: transparent;
  opacity: 0.64;
}

div.delete-channel-button{
  opacity: 0;
  margin-right: 5px;
}

div.delete-channel-button:hover{
  opacity: 1;
  margin-right: 5px;
  color: white;
}

button.chat-signout{
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #1d1c1d;
  width: 300px;
  padding: 20px;
}

button.chat-signout:hover{
  background-color: #0662a3;
  color: white;
}

div.signout-dropdown{
  position: absolute;
  top: 55px;
  left: 12px;
  background-color: white;
  width: 300px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.08), 0 4px 12px 0 rgba(0,0,0,.12);
}

.signout-dropdown img{
  width: 36px;
  height: 36px;
  border-radius: 3px;
}

.current-user-info{
  padding: 25px;
  display: flex;
}