div.chatroom-wrapper{
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-y: hidden;
}

.nav-and-chat-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat-and-info-wrapper{
  display: flex;
  justify-content: space-between;
}

div.message-list-wrapper{
  overflow-y: auto;
  height: 85vh;
}

div.chatroom-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: white;
}