.chat-nav-bar{
  height: 60px;
  width: 100%;
  border-bottom: 1px solid rgb(229,229,229);
  background-color: white;
}

.chat-nav-bar-contents{
  font-family: 'Lato', sans-serif;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.channel-info{
  display: flex;
  flex-direction: column;
  /* min-width: 398px; */
}

h1.channel-name-head{
  font-size: 18px;
  font-weight: 900;
  margin-left: 21px;
}

.chatroom-header{
  display: flex;
  height: 60px;
  width: 100%;
}

.channel-description{
  font-size: 13px;
  color: #616061;
  margin-left: 21px;
}

.chat-nav-icons{
  margin-top: 10px;
  min-width: 177px;
}
.chat-nav-icon{
  cursor: pointer;
  margin-right: 15px;
  color: #616061;
}

.chat-nav-icon:hover{
  color: rgb(12,96,158);
}