div.chatroom-wrapper{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.nav-and-chat-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}

div.message-list-wrapper{
  overflow-y:scroll;
  height: 85vh;
}

div.chatroom-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}