div.chatroom-wrapper{
  display: flex;
  flex-direction: row;
  height: 100vh;

}

.nav-and-chat-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;

}

.chatroom-container{
  overflow-y: scroll;
  /* height: 100vh; */
}