header {
   padding: 14px;
   font-family: 'Montserrat', "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
}

.nav-bar{
  display: flex;
}

nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo-img{
  width: 125px;
  height: 51.172px;
  margin-left: 30px;
  margin-right: 10px;
}

.nav-links{
  display: flex;
  justify-content: flex-start;
}

.nav-links > li {
  padding: 16px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(69,69,69);
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif
}

.nav-links > li:hover{
  color: black;
  transition: 0.3s;
  transition-timing-function: ease;
}

.nav-session{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-btn{
  margin: 30px;
  padding: 10px 12px;
}