.btn{
  background-color: rgb(97, 31, 105);
  color: white;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
}

.btn:hover{
  background-color: #4a154b;
}

.btn:focus{
  outline-color: rgb(156, 114, 161);
  outline-offset: 3px;
  outline-style: dotted;
  outline-width: 1.5px;
}

.get-started-btn{
  margin: 20px;
  padding: 21px 40px 22px 40px;
}

.splash{
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  color: black;
}

.splash-imagine{
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  margin-top: 45px;
}

.small-splash-img{
  width: 251px;
  position: absolute;
  top: 230px;
  left: 80px;
  z-index: -1;
}

.big-splash-img{
  width: 502px;
  height: 502px;
  position: relative;
}

.medium-splash-img{
  width: 316px;
  height: 316px;
  position: relative;
}

p .splash-text {
  display: block;
  font-weight: 400;
  font-size: 16px;
  margin: 5px 90px 35px 0px;
  margin-bottom: 1px;
}

.splash-main{
  display: flex;
}

.right-splash{
  margin-left: -15px;
}

.app-description{
  display: block;
  max-width: 440px;
  margin-bottom: -1px;
}

aside{
  margin-top: 16px;
  margin-bottom: 35px;
  font-size: 14px;
}

aside > a {
  color: #1264a3;
  text-decoration: underline;
}

form .get-started-input{
  padding: 18.4px 16px;
  border: 1px solid rgb(105,105,105);
  border-radius: 4px;
  margin-top: 20px;
  max-width: 251px;
  height: 60px;
  font-size: 16px;
}

.get-started-form{
  display: flex;
  align-content: center
}


figcaption{
  font-size: 13px;
  color:rgb(105,105,105);
  margin-top: 6px;
}

figure{
    margin-left: 195px;
}

input[type=text], input[type=password]{
  padding: 18.4px 16px;
  border: 1px solid rgb(105,105,105);
  border-radius: 4px;
  margin-top: 20px;
}

.get-started-wrapper{
  height: 80px;
}