h1.channel-info{
  font-weight: 700;
  font-size: 18px;
  color: #1d1c1d;
  margin-left: 10px;
}

div.channel-info-header{
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

div.info-sidebar{
  font-family: 'Lato', sans-serif;
  width: 315px;
  display: block;
}

.info-close-x{
  color: #616061;
  margin-right: 16px;
}

.fa-user.info-sidebar{
  color: #1d7859;
}

.fa-info-circle.info-sidebar{
  color: #616061;
}

div.info-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 23px;
  padding: 17px 10px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
}

div.info-section-wrapper{
  border-bottom: 1px solid rgb(221, 221, 221);
}

.fa-caret-right{
  color: #616061;
}

.fa-caret-right:hover{
  color: black;
  cursor: pointer;
}

span.arrow.rotate{
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.members-list-wrapper{
  margin: 20px 0px;
}

.info-channel-description{
  font-size: 15px;
  color: #1d1c1d;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  margin: 10px 0px;
}

.info-channel-description-section{
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.info-channel-description-subtitle{
  color: #616061;
  font-weight: 900;
  font-size: 12.8px;
}

.info-plaintext{
  margin-left: 8px;
}

.hidden-info{
  display: none;
}