.message-wrapper{
  list-style: none;
  margin: 20px 25px 10px;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
}

.message-time{
  color: #616061;
  font-size: 12px;
}

.message-user-info strong{
  font-weight: 900;
  color: #1d1c1d;
}

.hidden {
  display: none;
}

.message-form{

}

input.message-form[type=text]{
  border: 2px solid rgba(134, 134, 134, 0.7);
  margin: 0px 20px 20px 20px;
  height: 40px;
  border-radius: 6px;
  font-size:15px;
  width: 95%;
}

.the-whole-message{
  display: flex;
}

.the-whole-message img{
  width: 36px;
  height: 36px;
  border-radius: 3px;
}

.message{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}