.modal{
  position: absolute;
  z-index: 2;
  min-height: 100%;
  min-width: 100%;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin: 0 auto;
}

.modal-close-x{
  align-self: flex-end;
  margin: 50px 50px 0 0;
  font-size: 2rem;
  color: #616061;
}