.form-backdrop{
  background-color: #f9f9f9;
}

.form-header{
  height: 70px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  background-color: white;
}

.form-logo-img{
  position: fixed;
  left: 46%;
  top: 35px;
  transform: translate(-50%, -50%);
}

.password-form, .login-form{
  width: 406px;
  height: 590px;
  position: fixed;
  left: 50%;
  top: 400px;
  transform: translate(-50%, -50%);
  padding: 60px 60px 0px;
  border: 1px solid rgb(221,221,221);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 10px 25px #ddd;
  background-color: white;
}

.proceed-form, .login-form > form{
  display: flex;
  flex-direction: column;
}

.login-form > form{
  margin-top: -259px;
}

.confirm-btn, .login-form form button{
  background-color:#0c8566;
  max-width: 369.250px;
  height: 49px;
  color: white;
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  text-align: center;
  margin-top: 17px;
  border-radius: 4px;
}

.password, .login-form form input[type=text]{
  max-width: 369.250px;
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
  border-radius: 4px;
}

.find-team{
  width: 300px;
}

.error{
  margin-top: 15px;
  margin-bottom: -10px;
  color: #611f69;
  font-weight: 600;
}

.login-form form .demo-btn{
  background-color: #611f69;
  max-width: 369.250px;
}

.login-form form .get-started-btn{
  max-width: 369.250px;
  
}

.login-form form .demo-btn:hover{
  background-color: #4a154b;
}

.login-form form .demo-btn:focus{
  outline-color: rgb(156, 114, 161);
  outline-offset: 3px;
  outline-style: dotted;
  outline-width: 1.5px;
}

.login-form form button{
  width: 100%;
  display: block;
  margin: 5px 0;
}