.form-header{
  height: 70px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  background-color: white;
}

.form-backdrop{
  background-color: #f9f9f9;
}

.sign-in-text{
  text-align: center;
}

.login-form-header{
  display: block;
  width: 370px;
}

.login-form-header{
  display: block;
  font-weight: 400;
  font-size: 16px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

.workspace-url{
  margin-bottom: 24px;
  text-align: center;
}

.left-aligned{
  text-align: left;
}

.session-text{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.login-form-header strong{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.session-form-modal h2{
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.session-form-modal{
  width: 634px;
  height: 461px;
  position: fixed;
  left: 50%;
  top: 333px;
  transform: translate(-50%, -50%);
  padding: 32px 32px 32px 16px;
  border: 1px solid #1c7856;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 10px 25px #ddd;
  background-color: white;
  margin-top: 30px;
}

.session-form{
  display: flex;
  flex-direction: column;
  width: 369.250px;
}

.error{
  margin-top: 15px;
  margin-bottom: -10px;
  color: #611f69;
  font-weight: 600;
}

.demo-btn{
  display: block;
  box-sizing: content-box;
  background-color: #611f69;
  max-width: 375.062px;
  width: 100%;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-bottom: 5px;
  border-radius: 4px;
  padding: 13px 0px 37px 0px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.demo-btn:hover{
  background-color: #4a154b;
}

.demo-btn:focus{
  outline-color: rgb(156, 114, 161);
  outline-offset: 3px;
  outline-style: dotted;
  outline-width: 1.5px;
}

.signin-btn{
  box-sizing: content-box;
  background-color:#0c8566;
  width: 100%;
  color: white;
  font-family: 'Lato', sans-serif;
  margin-top: 17px;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 15px 0px 35px 0px;
  font-weight: 700;
}

.signup-btn{
  box-sizing: content-box;
  background-color:#0c8566;
  width: 100%;
  color: white;
  font-family: 'Lato', sans-serif;
  margin-top: 17px;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 12.5px 0px;
  font-weight: 700;
}

input[type=password], input[type=text]{
  font-family: 'Lato', sans-serif;
  width: 100%;
  border-radius: 4px;
  padding: 12px;
  font-size: 20px;
}